.load {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 300px;
}
.heroSection {
  position: relative;
}
.gradient {
  position: absolute;
  width: 400px;
  height: 280px;
  bottom: 0;
  left: 100px;
  transform: rotate(98.16deg);
  opacity: 0.87;

  background: linear-gradient(
    180deg,
    rgba(198, 7, 134, 1),
    rgba(132, 0, 255, 1)
  );
  filter: blur(150.8px);
  border-radius: 50%;
  z-index: -1;
}

.link {
  position: absolute;
  top: 50px;
  left: 50px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 150px;
}

.info {
  display: flex;
  gap: 40px;
  border: 1px solid #fff;
  border-radius: 24px;
  padding: 10px;
  margin-left: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.img {
  animation: floatUpDown 3s ease-in-out infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.donkey {
  width: 100%;
  max-width: 350px;
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(280px);
  }
  100% {
    transform: translateY(0);
  }
}
